/* body {
  background-color: #eaeae1;
  font-family: "Cabin";
} */

textarea {
  width:1000px;
  height: 200px;
  background-color: #fff;
  resize: none;
  margin: 45px;
  font-size: 20px;
}

button  {
  width: 100px;
  height: 30px;
  background-color: blue;
  border: none;
  color: #fff;
  font-family: "Cabin";
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 60px;

}

@font-face{
    font-family: "Cabin";
    src: url('Cabin-Regular-TTF.ttf'),
    url('Cabin-Regular-TTF.eot');
}

.comment-box {
  width: 845px;
  padding: 20px;
  margin-bottom: 4px;
  background-color: white;
  border-radius: 4px;
  font-family: "Cabin";
  position: relative;
}

.comment-box p {
  font-family: "Cabin";
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: 100;
}

.edit-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-form button {
  width: 60px;
  height: 40px;
  color: #eaeae1;
  background-color: #fff;
  opacity: 0.7;
  font-size: 10px;
}

.edit-form button:hover {
  opacity: 1;
}


.delete-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.delete-form button {
  width: 60px;
  height: 40px;
  color: #eaeae1;
  background-color: #fff;
  opacity: 0.7;
  font-size: 10px;
}

.delete-form button:hover {
  opacity: 1;
}
